h1{
    font-family: fantasy;font-style: italic;font-size: xx-large;color: cornflowerblue;
}
h2{
    font-family: fantasy; font-style: oblique; font-size: x-large;color: darkcyan;
}
p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-style:
    normal;font-size: medium; color: rgb(39, 38, 38);
}